.textBubble:hover {
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.3);
    transform: scale(1.1, 1.1);
  }
  
  .textBubble {
    padding: 10px 10px;
    text-align: center;
    transition: all 0.6s ease;
    background-color: rgb(135, 197, 135) !important;
    margin: auto;
    width: 50%;
  }
  
  /* .teacher {
    background-color: #972808 !important;
    color: white
    this is the green color => #06721E
  } */
  
  .student {
    background-color:#605c91 !important;
    color: white
  }
  
  .tutor {
    background-color:#06721E !important;
    color: white
  }
  
  .attendBtn{
    margin-right: 5px;
    padding: 4px;
  }

  .joinBtn{
    margin-right: 5px;
    padding: 4px;
  }