.AttendCard {
  background-color: #393476 !important;
  margin-top: 101px;
}

.t {
    background-color: #dcdfe7 !important;
    color: rgb(116, 108, 108);
  }
  

.i {
  background-color: #393476 !important;
  color: white;
}
