.AttendCard {
  background-color: #dcdfe7 !important;
  margin-top: 101px;
}

.t {
    background-color: #393476 !important;
    color: white;
  }
  

.i{
  background-color: #dcdfe7 !important;
  color: rgb(116, 108, 108);
}
